fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.41
psycopg2-binary==2.9.12
geoalchemy2==0.15.1
pydantic==2.13.4
pydantic-settings==2.3.0
python-dotenv==1.0.1
earthengine-api==0.1.401
numpy==2.5.0
pandas==3.0.3
shapely==2.1.2




# fastapi==0.111.0
# uvicorn[standard]==0.29.0
# sqlalchemy==2.0.30
# psycopg2-binary==2.9.12
# geoalchemy2==0.15.1
# pydantic==2.7.1
# pydantic-settings==2.2.1
# python-dotenv==1.0.1
# earthengine-api==0.1.401
# numpy>=2.0.0
# pandas>=2.3.0
# shapely>=2.1.0



# fastapi==0.111.0
# uvicorn[standard]==0.29.0
# sqlalchemy==2.0.30
# psycopg2-binary==2.9.12
# geoalchemy2==0.15.1
# pydantic==2.13.4
# pydantic-settings==2.3.0
# python-dotenv==1.0.1
# earthengine-api==0.1.401
# numpy==2.5.0
# pandas==3.0.3
# shapely==2.1.2


